@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-800 text-gray-100;
    scrollbar-color: #626873 transparent;
  }
  html, body, #root {
    @apply min-h-screen overflow-clip;
  }
  hr {
    @apply border-slate-500;
  }
  input, select, textarea {
    @apply text-gray-950 px-2 rounded-sm;
    &.transparent {
      @apply text-gray-100 bg-transparent;
      &.bordered {
        @apply border border-solid border-slate-400;
        option {
          @apply text-slate-100 bg-slate-800;
        }
      }
    }
  }

}

@layer components {
  .btn {
    @apply bg-slate-600 rounded-full py-2 px-6 w-fit disabled:bg-slate-300 disabled:text-slate-600 disabled:cursor-not-allowed scale-100 active:scale-90 disabled:active:scale-100;
  }
  .page {
    @apply p-2 h-full box-border flex flex-col;
  }
  .admin-table {
    @apply w-full;
    td, th {
      @apply w-fit px-3 py-1;
      &.options {
        @apply ml-auto mr-0 w-[3.4rem];
      }
    }
    tr .admin-options {
      @apply bg-slate-800;
    } 
    tr:nth-child(even) {
      @apply bg-slate-700;
      .admin-options {
        @apply bg-slate-700;
      } 
    }
    
  }
}
